./vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

#docker
.docker/*
!.docker/entrypoint.sh
!.docker/postgres/Dockerfile

.env
tsconfig.tsbuildinfo

uploads/*
!uploads/.gitkeep
db.sqlite
node_modules